* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  flex-min-height: 100%;
  flex-margin: 0; }

.grid-container > * {
  box-shadow: -1px 1px 7px 0px black 0, 0, 0, 0.75;
  border-radius: 0;
  text-align: center; }

.grid-container {
  display: grid;
  grid-template: "navbar" 100px "article" auto "footer" 100px;
  gap: 0; }

h2 h4 p {
  text-align: center;
  font-size: 0.5em;
  font-weight: 500;
  line-height: 1.2; }

.titulotec {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(100deg, #5564eb, #00dfd8);
  border-radius: 3px;
  width: 100%; }

.titulo h1 {
  text-align: center;
  font-size: 1cm;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif; }
  .titulo h1:hover {
    transition: all .2s; }

ul li {
  list-style: none; }

.text-work {
  color: black;
  text-align: center;
  padding: 1em;
  box-shadow: inset 0px 0px 15px 15px #474e5194;
  margin-bottom: 1.5rem;
  border: 5px;
  border-radius: 10px;
  padding: 2rem 2rem;
  background-color: white; }

article {
  grid-area: article;
  background-color: rgba(128, 128, 128, 0.363); }

.fondotitulo {
  background: url(../imagenes/fondo.jpg);
  color: white;
  font-size: 1cm;
  height: 150px;
  padding: 20px; }

/*--mixin--*/
.cajacontenedora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray; }

.caja-img {
  padding: 1.5rem 1rem;
  width: 100%;
  height: 600px;
  object-fit: contain;
  top: 2.25rem; }

.caja-texto {
  margin: 30px;
  width: 500px;
  padding: 0;
  background: gray;
  font-size: 1em;
  justify-content: space-between;
  text-align: center; }

footer {
  height: 100px; }

.creditos {
  text-decoration: none; }

.btn:hover {
  background-color: gray;
  color: white;
  transition: all 0.5s; }

.contenedorskill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  padding: 1.5rem; }

.Skillleft {
  width: 35%;
  padding: 1.5rem 1rem;
  position: sticky;
  height: 100%;
  width: 100%; }

.skillright {
  flex: auto;
  width: 75%;
  padding: 10px;
  justify-content: center; }

.list {
  list-style: none;
  width: 100%;
  display: block;
  font-size: 18px;
  margin-bottom: 3rem;
  text-decoration: none;
  padding: 40px;
  cursor: default; }

.list-item1 {
  background-color: rgba(241, 231, 30, 0.95);
  color: white;
  padding: 10px;
  width: 100%; }
  .list-item1:hover {
    transition: 2s;
    background-color: gray; }

.list-item2 {
  background-color: #74ff2f;
  color: white;
  padding: 10px; }
  .list-item2:hover {
    transition: 2s;
    background-color: gray; }

.list-item3 {
  background-color: #30ece6;
  color: white;
  padding: 10px; }
  .list-item3:hover {
    transition: 2s;
    background-color: gray; }

.list-item4 {
  background-color: #21a4e1;
  color: white;
  padding: 10px; }
  .list-item4:hover {
    transition: 2s;
    background-color: gray; }

.list-item5 {
  background-color: #164094;
  color: white;
  padding: 10px; }
  .list-item5:hover {
    transition: 2s;
    background-color: gray; }

.list-item6 {
  background-color: #0a1272;
  color: white;
  padding: 10px; }
  .list-item6:hover {
    transition: 2s;
    background-color: gray; }

.list-item7 {
  background-color: #4b0ea8;
  color: white;
  padding: 10px; }
  .list-item7:hover {
    transition: 2s;
    background-color: gray; }

.list-item8 {
  background-color: #a81fce;
  color: white;
  padding: 10px; }
  .list-item8:hover {
    transition: 2s;
    background-color: gray; }

.list-item9 {
  background-color: #ea1088;
  color: white;
  padding: 10px; }
  .list-item9:hover {
    transition: 2s;
    background-color: gray; }

.list-item10 {
  background-color: orangered;
  color: white;
  padding: 10px; }
  .list-item10:hover {
    transition: 2s;
    background-color: gray; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #345b5b;
  width: 100%;
  height: 400px;
  padding: 2px; }

input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 5px; }

textarea {
  width: 100%;
  height: 100px;
  display: flex;
  border-radius: 5px;
  font-size: 20px; }

button, .btn {
  height: 50px;
  cursor: pointer;
  border-radius: 5px; }

.map {
  width: 100%;
  height: 50%;
  margin: 0; }

.navbar-dark .navbar-brand {
  color: white; }

.navbarNav {
  display: flex;
  flex-direction: wrap;
  flex-justify-content: center;
  flex-align-items: center;
  flex-padding-right: 0;
  flex-padding-left: 0;
  flex-list-style: none; }

.navbar-toggler {
  padding: 10px;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  border-radius: 2px; }
  .navbar-togglerhover {
    background-color: #b0b079;
    transition: 3s; }

.navbar-nav {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0;
  margin-bottom: 0;
  flex-wrap: wrap; }
  .navbar-nav.nav-item {
    list-style: none;
    margin: 0 1rem;
    overflow: hidden; }

.nav-item {
  font-size: 18px;
  margin: 0 5px;
  font-family: "montserrat", sans-serif;
  padding: 2px 12px;
  border-radius: 1px; }
  .nav-item:hover {
    background-color: gray;
    transition: 0.5s; }

.nav-link {
  color: white;
  text-decoration: none; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.2em;
  font-weight: 800;
  font-size: 30px;
  white-space: nowrap; }

.navBar__Logo {
  background: linear-gradient(90deg, #5564eb, #00dfd8);
  padding: 7px;
  font-weight: 800;
  font-size: 2rem;
  border-radius: 5px; }

@media screen and (max-width: 600px) {
  .container {
    width: 75%; }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
  .navbar-brand {
    display: none; }
  .skillleft {
    display: none; }
  .caja-img {
    display: none; }
  .fondotitulo {
    justify-content: center;
    height: 50%; }
  .contenedorskill .contactogrid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .caja-texto {
    width: 300px;
    padding: 0;
    font-size: 0.5em;
    justify-content: space-between;
    text-align: center; }
  h1,
  h2,
  .titulo,
  p {
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: medium; }
  .form .map {
    width: 75%; }
  .contenedorskill {
    padding: 5rem; }
  .list {
    font-size: 12px; } }

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 100%; }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
  .fondotitulo {
    justify-content: center;
    height: 50%; }
  .contenedorskill .contactogrid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .caja-texto {
    width: 300px;
    padding: 0;
    font-size: 1em;
    justify-content: space-between;
    text-align: center; }
  h1,
  h2,
  .titulo,
  p {
    margin-top: 30px;
    margin: 0 auto;
    text-align: center; }
  .skillleft {
    display: none; }
  .caja-img {
    display: none; }
  .form .map {
    width: 75%; }
  .contenedorskill {
    padding: 3rem; } }

.flex-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr; }

.fondotechnologies {
  background: white;
  text-align: center;
  justify-content: center;
  padding: 0;
  line-height: 0;
  margin-block-start: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.5em;
  font-weight: bold; }

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  justify-items: center; }

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  justify-items: center; }

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  justify-items: center; }

.div4 {
  grid-area: 1 / 4 / 2 / 5;
  justify-items: center; }

.div5 {
  grid-area: 1 / 5 / 2 / 6;
  justify-items: center; }

.div6 {
  grid-area: 1 / 6 / 2 / 7;
  justify-items: center; }
