
.form {
    @include flex(column, center, center);
    background-color: $color-contacto;
    width: 100%;
    height: 400px;
    padding: 2px;
   
}

input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 100px;
    display: flex;
    border-radius: 5px;
    font-size: 20px;
}

button {
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}
.btn {
    @extend button
}

.map {
    width: 100%;
    height: 50%;
    margin: 0;
    

}