*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}
.grid-container>* {
    box-shadow: -1px 1px 7px 0px black (0, 0, 0, 0.75);
    border-radius: 0;
    text-align: center;

}

.grid-container {
    display: grid;
    gap: 0;
    grid-template:
        "navbar" 100px
        "article" auto
        "footer" 100px;
}
h2 h4 {
    font-size: 00.5cm;
    text-align: center;
}

.titulo h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 1cm;
    font-family: 'Montserrat', sans-serif;
    &:hover {
        filter: blur(0.5px);
        transform: scale(1.3);
        transition: all .2s;
    }
}
ul li {
    list-style: none;
}
article {
    grid-area:article;
    background-color: gray;
}