* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;

    flex: {
        direction: column;
        min-height: 100%;
        margin: 0;
    }

}

.grid-container>* {
    box-shadow: -1px 1px 7px 0px black (0, 0, 0, 0.75);
    border-radius: 0;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template:
        "header" 100px
        "article" auto
        "footer" 100px;
    gap: 0;
}

h2 h4 p {
    text-align: center;
    font-size: 0.5em;
    font-weight: 500;
    line-height: 1.2;
}

.titulotec {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(100deg, #5564eb, #00dfd8);
    width: 100%;
}

.titulo h1 {
    text-align: center;

    font: {
        size: 1cm;
        weight: bolder;
        family: 'Montserrat', sans-serif;
    }

    &:hover {
        transition: all .2s;
    }
}

ul li {
    list-style: none;
}

$estilos: (
    color: black,
    centro: center,
    1em:1em,
);

.text-work {
    color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    padding: map-get($estilos, 1em);
    box-shadow: inset 0px 0px 15px 15px #474e5194;
    margin-bottom: 1.5rem;
    border: 5px;
    border-radius: 10px;
    padding: 2rem 2rem;
    background-color: white;

}

article {
    grid-area: article;
    background-color: rgba(128, 128, 128, 0.363);
}