
.fondotitulo {
    background: url(../imagenes/fondo.jpg);
    color: $color-secundario;
    font-size: 1cm;
    height: 150px;
    padding: 20px;

}
/*--mixin--*/

@mixin flex($direction, $justify,$aline){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aline;
}
.cajacontenedora {
    @include flex(column, center , center);
    background-color: $color-terciario;
}

.caja-img {
    padding: 1.5rem 1rem;
    width: 100%;
    height: 600px;
    object-fit: contain;
    top: 2.25rem;
}

.caja-texto {
    margin: 30px;
    width: 500px;
    padding: 0;
    background: $color-terciario;
    font-size: 1em;
    justify-content: space-between;
    text-align: center;
}

footer {
    height: 100px;

}

.creditos {
    text-decoration: none;
}

.btn {
    @extend button
}

.btn {
    &:hover {
        background-color: $color-terciario;
        color: $color-secundario;
        transition: all 0.5s;
      }
        
     }
    
