 @media screen and (max-width: 600px) {
      .container{
          width: 100%;
      }
     
     .navbar-nav .nav-link {
           padding-right: 0;
           padding-left: 0;
      }

      .skillleft  {
           display: none;
      }
      .caja-img{
          display: none;
      }

      .fondotitulo {
           justify-content: center;
           height: 50%;
      }

      .contenedorskill .contactogrid {
           display: flex;

           flex: {
                direction: column;
                wrap: wrap;
           }

           justify-content: center;
           align-items: center;
      }
      .caja-texto {
          width: 300px;
          padding: 0;
          font-size: 0.5em;
          justify-content: space-between;
          text-align: center;
     }
      
      h1,
      h2,
      .titulo,
      p {
           margin-top: 30px;
           margin: 0 auto;
           text-align: center;
           font-size: medium;
      }
      .form .map{
          width: 75%;
      }
      
 }

 @media screen and (min-width: 601px) and (max-width: 1024px) {
      .container{
          width: 100%;
      }    


     .navbar-nav .nav-link {
           padding-right: 0;
           padding-left: 0;
      }

      .fondotitulo {
           justify-content: center;
           height: 50%;
      }

      .contenedorskill .contactogrid {
           display: flex;

           flex: {
                direction: column;
                wrap: wrap;
           }

           justify-content: center;
           align-items: center;
      }

      .caja-texto {
          width: 300px;
          padding: 0;
          font-size: 0.5em;
          justify-content: space-between;
          text-align: center;
     }

      h1,
      h2,
      .titulo,
      p {
           margin-top: 30px;
           margin: 0 auto;
           text-align: center;
      }
      .skillleft {
          display: none;
     }
     .caja-img{
          display: none;
     }
     .form .map{
          width: 75%;
      }
 }