 .navbar-dark .navbar-brand {
     color: white;
 }

 .navbarNav {
     display: flex;
     flex: {
         direction: wrap;
         justify-content: center;
         align-items: center;
         padding-right: 0;
         padding-left: 0;
         list-style: none;
     }

 }

 .navbar-toggler {
     padding: 10px;
     font-size: 20px;
     line-height: 1;
     background-color: transparent;
     border-radius: 2px;

     &hover {
         background-color: rgb(176, 176, 121);
         transition: 3s;
     }
 }

 .navbar-nav {
     background-color: black;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-right: 0;
     margin-bottom: 0;
     flex-wrap: wrap;

     &.nav-item {
         list-style: none;
         margin: 0 1rem;
         overflow: hidden;
     }
 }

 .nav-item {
     font-size: 18px;
     margin: 0 5px;
     font-family: "montserrat", sans-serif;
     padding: 2px 12px;
     border-radius: 1px;

     &:hover {
         background-color: $color-terciario;
         transition: 0.5s;
     }
 }

 .nav-link {
     color: $color-secundario;
     text-decoration: none;

 }

 .navbar-brand {
     display: inline-block;
     padding-top: 0.2em;
     font-weight: 800;
     font-size: 30px;
     white-space: nowrap;

 }

 .navBar__Logo {
     background: linear-gradient(90deg, #5564eb, #00dfd8);
     padding: 7px;
     font-weight: 800;
     font-size: 2rem;
     border-radius: 5px;

 }