  .contenedorskill {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: $color-terciario;
      padding: 1.5rem;

  }

  .Skillleft {
      width: 35%;
      padding: 1.5rem 1rem;
      position: sticky;
      height: 100%;
      width: 100%;

  }

  .skillright {
      flex: auto;
      width: 75%;
      padding: 10px;
      justify-content: center;
  }

  .list {
      list-style: none;
      width: 100%;
      display: block;
      font-size: 18px;
      margin-bottom: 3rem;
      text-decoration: none;
      padding: 40px;
      cursor: default;
         
    } 

  .list-item1 {
      background-color: $color-item1;
      color:$color-secundario;
      padding: 10px;
      width: 100%;
      &:hover{
        transition: 2s;
        background-color: $color-terciario;
      
      }
  }

  .list-item2 {
      background-color: $color-item2;
      color: $color-secundario;
      padding: 10px;
      &:hover{
        transition: 2s;
        background-color: $color-terciario;
  }
}

  .list-item3 {
      background-color: $color-item3;
      color: $color-secundario;
      padding: 10px;
      &:hover{
        transition: 2s;
        background-color: $color-terciario;
  }
  }
  .list-item4 {
      background-color: $color-item4;
      color:$color-secundario;
      padding: 10px;
      &:hover{
        transition: 2s;
        background-color: $color-terciario;

  }
  }
  .list-item5 {
      background-color: $color-item5;
      color: $color-secundario;
      padding: 10px;
      &:hover{
        transition: 2s;
        background-color: $color-terciario;
  }
}

  .list-item6 {
      background-color: $color-item6;
      color: $color-secundario;
     padding: 10px;
     &:hover{
        transition: 2s;
        background-color: $color-terciario;
  }
}

  .list-item7 {
      background-color:$color-item7 ;
      color: $color-secundario;
      padding: 10px;
      &:hover{
        transition: 2s;
        background-color: $color-terciario;
        
  }
}

  .list-item8 {
      background-color: $color-item8;
      color: $color-secundario;
      padding: 10px;
      &:hover{
        transition: 2s;
        background-color: $color-terciario;

  }
}

  .list-item9 {
      background-color: $color-item9;
      color: $color-secundario;
      padding: 10px;
      &:hover{
        transition: 2s;
        background-color: $color-terciario;

  }
}

  .list-item10 {
      background-color: $color-item10;
      color: $color-secundario;
      padding: 10px;
      &:hover{
        transition: 2s;
        background-color: $color-terciario;

  }
}