$color-principal:black;
$color-secundario:white;
$color-terciario:gray;
$color-contacto:rgb(52, 91, 91);
$color-item1:rgba(241, 231, 30, 0.95);
$color-item2:rgb(116, 255, 47);
$color-item3:rgb(48, 236, 230);
$color-item4:rgb(33, 164, 225);
$color-item5:rgb(22, 64, 148);
$color-item6:rgb(10, 18, 114);
$color-item7:rgb(75, 14, 168);
$color-item8:rgb(168, 31, 206);
$color-item9:rgb(234, 16, 136);
$color-item10:orangered;







